@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Amita');

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    height: 100%;
    background: url('mor.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 340px;
    text-align: center;
}

.register-form{
    position: relative;
    box-sizing: border-box;
    padding: 60px 30px;
    transition: .5s;
}

/*.register-form:hover {
    background: rgba(255, 255, 255,.5) ;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}*/

.register-form h2 {
    font-family: 'Amita', cursive;
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.txt {
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    background: rgba(255,255,255,.4);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.control {
    color: #fff;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.but {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #fff;
    /*background: rgba(13, 66, 170,.7);*/
    background: url('mor.jpg');
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-top: 14px;
    border-radius: 10px;
}

.but:hover{
    background: #005aca;
}

#btnsubmit{
    float:right;
}

#btncard{
    float:left;
}

.error {
    color: white;
    margin-top: 0px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 14px;
    align-content: center;
    
}
